.flexRow {
    display: flex;
    align-items: baseline;
    justify-content: center;
    > * {
        margin: 0 20px 20px 0;
    }
}
.flexRowButtons {
    display: flex;
    align-items: baseline;
    justify-content: center;
    > button {
        margin: 0 20px 0;
    }
}

.date {
    width: 16rem
}
.time {
    width: 8.5rem
}
.title, .description {
    width: 26rem
}
.dateAsText {
    text-align: center;
    width: 16.5rem
}

.container {
    display: flex; 
    justify-content: center;
}