

<div class="container">
    <div  style="width: 40rem;">
        <form #scheduleForm="ngForm" (ngSubmit)="onSubmit()">
                    
            <div class="nes-container with-title is-centered">
                <p class="title"> - EDIT - </p>
                <div class="flexRow">

                    <div class="nes-field">            
                        <input
                            [hidden]="editStartDate || !selected?.startDate"
                            (click)="editStartDate = true"
                            class="dateAsText nes-input"
                            [value]="selected.startDate | date: 'dd.MM.yyyy'">
                            
                        <input id="startDate"
                            [hidden]="selected?.startDate && !editStartDate"
                            class="date nes-input"
                            required 
                            type="date"
                            name="startDate"
                            [(ngModel)]="selected.startDate">
                    </div>

                    
                    <div class="nes-field">   
                        <input
                            required
                            class="time nes-input"
                            name="startTime"
                            (blur)="onDateTimeBlur()"
                            [pattern]="timePattern"
                            [(ngModel)]="selected.startTime">
                    </div>

                </div>
                    
                <div class="flexRow">    

                    <div class="nes-field">     
                        <input
                            [hidden]="editEndDate || !selected?.endDate"
                            class="dateAsText nes-input"
                            (click)="editEndDate = true"
                            [value]="selected.startDate | date: 'dd.MM.yyyy'">

                        <input
                            [hidden]="selected?.endDate && !editEndDate"
                            class="date nes-input"
                            type="date"
                            name="endDate"
                            [(ngModel)]="selected.endDate"
                            [value]="selected.endDate | date: 'dd.MM.yyyy'">
                    </div>

                    <div class="nes-field">
                        <input
                            class="time nes-input"
                            name="endTime"
                            (blur)="onDateTimeBlur()"
                            [pattern]="timePattern"
                            [(ngModel)]="selected.endTime">
                    </div>
                </div>
                
                        
                <div class="flexRow">
                    
                    <div class="nes-field">     
                        <input
                            class="title nes-input"
                            required 
                            type="text"
                            name="title"
                            [(ngModel)]="selected.title">
                    </div>
                </div>
                
                <div class="flexRow">
                    
                    <div class="nes-field">    
                        <textarea
                            class="description"
                            class="title nes-input"
                            rows="5"
                            name="description"
                            [(ngModel)]="selected.description">
                        </textarea>
                    </div>
                </div>

            </div>
            <br>
            <div class="nes-container flexRowButtons">
                    <button 
                        class="nes-btn is-primary" 
                        type="submit" [disabled]="scheduleForm.invalid" 
                        [class.is-disabled]="scheduleForm.invalid">
                        SAVE
                    </button>  
                    
                    <button 
                        class="nes-btn is-primary" 
                        type="submit" [disabled]="scheduleForm.invalid"
                        (click)="saveAndClose()" 
                        [class.is-disabled]="scheduleForm.invalid">
                        END DATE IS NOW
                    </button>  
            </div>
            <br>
            <div class="nes-container flexRowButtons">
                    <button 
                        class="nes-btn is-error" 
                        [disabled]="!selected.id" 
                        [class.is-disabled]="!selected.id"
                        onclick="document.getElementById('dialog-delete').showModal();">
                        DELETE
                    </button>

                    <button 
                        type="button" 
                        class="nes-btn" 
                        (click)="navigateBack()">
                        CANCEL
                    </button>
            </div>
        </form>
    </div>
</div>

<section>
    <dialog class="nes-dialog" id="dialog-delete">
        <form method="dialog">
        <p class="title">Confirm delete</p>
        <p>Do you realy whant to delete this record ?</p>
        <br>
        <menu class="dialog-menu flexRowButtons">
            <button class="nes-btn">Cancel</button>
            <button class="nes-btn is-primary" (click)="onDelete()">Confirm</button>
        </menu>
        </form>
    </dialog>
</section>