.flexWrapper {
    display: flex;
    justify-content: center;
    > * {
        margin: 0 20px 20px 0;
    }
}

.container {
    display: flex; 
    justify-content: center;
}

.flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36rem;
    > * {
        margin: 0 40px 0 40px;
    }
}