<br>
<div class="container">
    <div class="nes-container with-title is-centered">
        <p class="title"> - TIME SCHEDULER - </p>
        <div class="flexRow">                        
            <span class="nes-btn is-error" [routerLink]="['/schedules/create']" routerLinkActive="is-disabled">ADD</span>
            <span class="nes-btn" [routerLink]="['/schedules-list']" routerLinkActive="is-disabled">SCHEDULES</span>
        </div>
    </div>
</div>
<br>
<br>

<router-outlet></router-outlet>