.flexRow {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.flexRowDateInput {
    display: flex;
    align-items: baseline;
    justify-content: center;
    > * {
        margin: 0 20px 0 20px;
    }
}


.date {
    width: 16rem
}

.dateAsText {
    width: 16rem;
}