<div class="flexRowDateInput">
    
    <div class="nes-field" [hidden]="editStartDate" (click)="editStartDate = true">            
        <input
            disabled
            class="nes-input dateAsText"
            [value]="startDate | date: 'dd.MM.yyyy'">
    </div>

    <div class="nes-field" [hidden]="!editStartDate">  
        <input id="startDate"
            class="date nes-input"
            (change)="onDateChange()"
            required 
            type="date"
            name="startDate"
            [(ngModel)]="startDate">
    </div>

    <div class="nes-field" [hidden]="editEndDate" (click)="editEndDate = true">            
        <input
            disabled
            class="nes-input dateAsText"
            [value]="endDate | date: 'dd.MM.yyyy'">
    </div>
    <div class="nes-field" [hidden]="!editEndDate">  
        <input id="endDate"
            class="date nes-input"
            (change)="onDateChange()"
            type="date"
            name="endDate"
            [(ngModel)]="endDate">
    </div>
</div>

<br>

<div class="flexRowDateInput">
    <div *ngFor="let month of months">
        <a class="nes-badge">
            <span class="is-dark" [class.is-primary]="!filterMonth || filterMonth == month" (click)="filterMonth = month">{{ month }}</span>
        </a>
    </div>
</div>
<br>
<div class="flexRow">
    <div class="flexRowButtons" style="width: 40rem;">
        <div *ngFor="let month of months" class="nes-container with-title" [hidden]="filterMonth && month!=filterMonth">
            <a class="nes-badge title">
                <span class="is-dark">{{ month }}</span>
            </a>
                        
            <div *ngFor="let days of schedules[month]">

                <div *ngFor="let day of getKeys(days)" class="nes-container with-title">
                    <p class="title" style="top: -10px; position: relative;">{{ day | date: 'dd.MM.yyyy' }} + {{ sumTime(days[day]) }} hours worked </p>

                    <div *ngFor="let schedule of days[day]" [routerLink]="['/schedules/edit', schedule.id]" >
                        Start/End<br>
                        <a class="nes-badge is-splited">
                            <span class="is-dark">{{ schedule.startTime }}</span>
                            <span class="is-primary">{{ schedule.endTime }}</span>
                        </a>
                    <p class="nes-balloon from-left nes-pointer" style="width: 100%;" >
                        {{ schedule.title }}
                    </p>
                </div>
            </div>
        </div>
        <div [hidden]="schedules">
            <p class="nes-balloon from-left nes-pointer" style="width: 100%;">
                No data found ...
            </p>
            <a class="nes-badge" [routerLink]="['/schedules/create']">
                <span class="is-success">ADD</span>
            </a>
        </div>
    </div>
</div>