/* You can add global styles to this file, and also import other style files */
@import "~nes.css/css/nes.css";


body {
    background-color: #bbccde;
    
}

p.title {   
    background-color: #bbccde !important;
}